@import url('https://fonts.googleapis.com/css?family=Montserrat|Quando&display=swap');

body {
	background-color: #286580;
	color: #4E7180;
	font-family: Montserrat;
	font-size: 16px;
	text-align: center;
}

title {
	text-align: center;
}

a {
	text-decoration: none;
	color: #4E7180;
	padding: 15px;
}

#wrapper {
	width: 90%;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #9CE1FF;
}

#nav {
	text-align: center;
	padding: 15px;
	font-size: 1.5em;
}

div {
	display: block;
}

.a {
	float: left;
	width: 10%;
}

.ra:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.b {
	float: left;
	width: 10%;
}

.rb:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.c {
	float: left;
	width: 10%;
}

.rc:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.d {
	float: left;
	width: 10%;
}

.rd:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.e {
	float: left;
	width: 10%;
}

.re:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

