@import url('https://fonts.googleapis.com/css?family=Montserrat|Quando&display=swap');

body {
	background-color: #286580;
	color: #4E7180;
	font-family: Montserrat;
	font-size: 16px;
	text-align: center;
}

title {
	text-align: center;
}

a {
	text-decoration: none;
	color: #4E7180;
	padding: 15px;
}

#wrapper {
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #9CE1FF;
}

aside {
	margin-left: auto;
	margin-right: auto;
	background-color: #9CE1FF;
}

#nav {
	text-align: center;
	padding: 15px;
	font-size: 1.5em;
}

.thumbnail {
	float: left;
	width: 31%;
	padding: 5px;
	background-color: #9CE1FF;
}

.clear { clear: both; }

@media screen and (max-width: 1160px) {
	.thumbnail {
		float: none;
		text-align: right;
	}
}