@import url('https://fonts.googleapis.com/css?family=Montserrat|Quando&display=swap');

#hbackground {
	background-color: #90E8C9;
}

body {
	background-color: #90D6E8;
	font-family: Montserrat;
	font-size: 16px;
}

#wrapper {
	width: 90%;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #7CEBAB;
}

a {
	text-decoration: none;
	color: white;
	padding: 15px;
	font-size: 1.5em;
}

div {
	display: block;
}

h1 {
	font-family: Quando, sans-serif;
	color: white;
	font-style: italic;
	text-align: center;
}

h2 {
	color: white;
	background-color: #90E8C9;
	font-size: 2em;
}

p {
	font-family: Montserrat;
	background-color: #7CEBAB;
	color: white;
	text-align: left;
}
img {
	width: 100%;
}
.Shop {
	text-align: center;
	display: block;
}

#About {
	text-align: center;
	background-color: #7CEBAB;
	columns: white;
}

#why {
	text-align: center;	
	background-color: #7CEBAB;
	columns: white;
}

.column {
	float: left;
	width: 31.33%;
	padding: 5px;
}

.row1::after {
	content: "";
	clear: both;
	display: table;
}

nav {
	text-align: center;
}

#two_column {
	padding: 20px;
}

.pic2 {
	background: "images/collection.JPG";
}

@media screen only and (max-width: 400px) {	
	.column {
		float: none;
	}
}

body {

.clearfix:: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
