@import url('https://fonts.googleapis.com/css?family=Montserrat|Quando&display=swap');
h1 {
	background-color: white;
	font-family: Quando, sans-serif;
	color: #7CEBAB;
	font-style: italic;
	text-align: center;
}
p {
	font-family: Montserrat;
	background-color: #7CEBAB;
	color: white;
	text-align: center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
nav {text-align: center;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px	black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black	solid;
	padding: 20px;
}